ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    text-align: center;
    margin: 5px;
    padding: 0px;
    background: whitesmoke;
    border: 4px solid black;
}

li img {
    height: 200px;
    width: 400px;
    object-fit: cover;
}